<!doctype html>
{% load static %}
<html>
<head>
    <meta charset="utf-8"/>
    <title>쇼핑몰</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'common.css' %}">
</head>
<body>
{% include "navbar.html" %}
<section  class="t-flex-1">
    {% block content %}
    {% endblock %}
</section>
</body>
</html>